body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 70%;
}

.row {
    overflow: hidden;
    clear: both;
}

.col-6 {
    float: left;
    width: 48%;
}

.col-6:not(:first-of-type) {
    float: right;
}

pre {
    background-color:#efefef;
    padding: 30px 0;
}

